@{
    ViewData["Title"] = "home";
}

<div class="homePage d-flex align-items-center vh-100">
    <div class="container">
        <div class="row h-100">
            <!-- Left Section: Rotating Circle and Image -->
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center align-items-center">
                <div class="circle-text">
                    <svg height="250" width="250">
                        <path id="curve" d="M 25 125 A 100 100 0 1 1 25 127"></path>
                        <text class="text">
                            <textPath href="#curve">
                                Are you where you want to be? &nbsp; &nbsp; Are you who you want to be?  &nbsp;&nbsp;  Are you what you want to be? &nbsp; &nbsp;
                            </textPath>
                        </text>
                    </svg>
                    <img src="/assets/BTEImage.png" alt="Center Image" class="circle-image" />
                </div>
            </div>
            <!-- Right Section: Hero Content -->
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="hero-content text-white mx-auto mx-md-0" style="max-width: 350px;">
                    <h1 class="display-4 text-center text-md-start">Welcome to bringtheasel

                    </h1>
                    <p class="lead text-center text-md-start">
                        A group of creatives that allow your personal           brand to stand out.
                        We specialize in
                        <span class="heroListText">photography</span>,
                        <span class="heroListText">videography</span>, and 
                        <span class="heroListText">web design</span>.
                    </p>
                    <div class="lead text-center text-md-start">

                        <button class="button-89" role="button">
                            our work
                        </button>

                        <button class="button-89" role="button">
                            contact us
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vh-100 w-100 d-flex flex-column position-relative">
    <!-- Top Section: Morphing Text -->
    <div class="top-section position-absolute top-0 start-50 translate-middle-x mt-2 ">
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
        <svg id="filters">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>
    </div>

    <!-- Navigation -->
    <div class="container-fluid">
        <!-- Top Navigation for Small Screens -->
        <div class="top-nav row text-center d-flex d-md-none mt-5">
            <div class="col">
                <button class="button-89 w-100">photography</button>
            </div>
            <div class="col">
                <button class="button-89 w-100">videography</button>
            </div>
            <div class="col">
                <button class="button-89 w-100">websites</button>
            </div>
            <div class="col">
                <button class="button-89" role="button"> all</button>
            </div>

        </div>

        <!-- Side Navigation for Larger Screens -->
        <div class="side-nav d-none d-md-flex flex-column justify-content-center align-items-center  vh-100 position-absolute top-0 start-1">
            <button class="button-89 mb-2">Photography</button>
            <button class="button-89 mb-2">Videography</button>
            <button class="button-89 mb-3">Web Design</button>
            <button class="button-89 ">All</button>
        </div>
    </div>

    <!-- Middle Content -->
    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center ">
        <div class="mb-3">Hello</div>
        <div>Hello</div>
    </div>
</div>


