@{
    ViewData["Title"] = "home";
}


<div class="homePage">
    <div class="circle-text">
        <svg height="250" width="250">
            <path id="curve" d="M 25 125 A 100 100 0 1 1 25 127"></path>
            <text class="text">
                <textPath href="#curve">
                    Are you where you want to be? &nbsp; &nbsp; Are you who you want to be?  &nbsp;&nbsp;  Are you what you want to be? &nbsp; &nbsp;
                </textPath>
            </text>
        </svg>
        <img src="/assets/BTEImage.png" alt="Center Image" class="circle-image" />
    </div>

</div>

<div class="homePageTwo vh-100 w-100 d-flex justify-content-center align-items-center p-5">
    <div class="container h-100 d-flex flex-column">

        <!-- Top titles -->
        <div class="column text-center">
            <div class="col">
                <h4 class="display-4 fs-6 fs-sm-4 fs-md-3">
                    bring the easel is the name of an art-based project by Wes Patterson.
                </h4>
            </div>
            <div class="col mt-5">
                <h2 class="display-4 fs-3 fs-sm-2 fs-md-1">
                    My Work
                </h2>
            </div>
        </div>

        <!-- Content -->
        <div class="container" style="max-width: 750px; height: 20vh;">

            <div class="row h-100 g-0">
                <!-- g-0 removes extra spacing between columns -->
                <div class="col-5 d-flex justify-content-center align-items-center myWorkLeft">
                    <img src="/assets/BTESquiggleLeft.png" alt="Work 1" class="work-image">
                </div>
                <div class="col-7 d-flex align-items-center">
                    Canvas Painting
                </div>
            </div>
            <div class="row h-100 g-0">
                <div class="col-7 d-flex align-items-center justify-content-end">
                    videography
                </div>
                <div class="col-5 d-flex justify-content-center align-items-center myWorkRight">
                    <img src="/assets/BTESquiggleRight.png" alt="Work 2" class="work-image">
                </div>
            </div>
            <div class="row h-100 g-0">
                <div class="col-5 d-flex justify-content-center align-items-center myWorkLeft">
                    <img src="/assets/BTESquiggleLeft.png" alt="Work 3" class="work-image">
                </div>
                <button class="col-7 d-flex align-items-center mybutton">
                    web design
                </button>
            </div>
        </div>
    </div>
</div>






<!--
        <img src="/assets/BTEBackgroundBig.png" alt="balloon Image" class="balloonImage">




<div class="col h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-center">

            <div class="col  col fs-6 fs-sm-5 fs-md-4">

                <br /> <br />
                <span>
                    oil and acrylic painting,
                </span>
                <br />
                <span>
                    videography,
                </span>
                <br />
                <span>
                    web design,
                </span>
                <br />
                <span>
                    creative multimedia projects.
                </span>
                <br />
                Check my work out and hit me up for any collaborative ideas or projects.
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>-->
