* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant", serif;
    color: white;
    user-select: none; /* Disable text selection */
}

.cormorant {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Apply dark mode styles globally */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

a {
    color: #1e90ff; /* Optional: Make links stand out */
}

/* CSS */
.button-89 {
    --b: 1.7px; /* border thickness */
    --s: .3em; /* size of the corner */
    --color: white;
    padding: calc(.2em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}/* Button styling */



input, textarea {
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

/* nav */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    height: 5vh;
}
nav {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    flex-direction: row; /* Make nav items horizontal */
}

/* Remove nav-link underline animation */
a, .nav-link {
    color: white;
    text-decoration: none;
}



/* Remove default blue color for all <a> tags */
a {
    color: inherit;
}



/* Remove underline animation for nav-links */
.nav-link {
    opacity: 0.7;
    margin-top: 5px;
}

.nav-item {
    margin-bottom: 6px;
    margin-right: 2px;
}

.inverted {
    background-color: white;
}

/* Home page */
